@model List<Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h2>Lista de Clientes</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Compañía</th>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Cargo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cliente in Model)
        {
            <tr>
                <td>@cliente.Id</td>
                <td>@cliente.Compania</td>
                <td>@cliente.Nombre</td>
                <td>@cliente.Apellidos</td>
                <td>@cliente.Correo</td>
                <td>@cliente.Tel</td>
                <td>@cliente.Cargo</td>
            </tr>
        }
    </tbody>
</table>

